.page-home {
    .hero {
        margin-top: 50px;
        @include media-breakpoint-up(lg) {
            margin-top: 120px;
        }

        &::before {
            content: "";
            right: 0;
            top: 0;
            width: 50%;
            height: 75vh;
            z-index: -1;
            position: absolute;
            background-color: $softprimary;
            border-bottom-left-radius: 400px;
        }

        .hero-title {
            font-family: "Montserrat", sans-serif;
            line-height: 60px;
            margin-bottom: 20px;
            @include media-breakpoint-up(lg) {
                margin-top: 50px;
            }
        }

        .hero-desc {
            line-height: 30px;
            margin-bottom: 45px;
            @include media-breakpoint-down(md) {
                max-width: 500px;
            }
        }

        .hero-form {
            .form-control {
                width: 300px;
            }
        }

        .hero-carousel {
            .carousel-control-prev-icon {
                background-image: url("../images/hero-carousel/left.svg");
            }

            .carousel-control-next-icon {
                background-image: url("../images/hero-carousel/right.svg");
            }

            .carousel-control-prev-icon,
            .carousel-control-next-icon {
                width: 35px;
                height: 35px;
            }
        }
    }

    section:not(:first-child){
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .content-wrapper{
        padding: 50px;
        background: #FDFDFF;
        box-shadow: 0px 100px 80px rgba(56, 56, 69, 0.01), 0px 12px 10px rgba(56, 56, 69, 0.02);
        border-radius: 15px;
    }


    
    .title{
        font-family: "DM Sans", sans-serif;
        font-weight: bold;
        font-size: 24px;
    }

    #categories{
       
        .category-item{
            border: 1px solid #E5EEED;
            background-color: #F9FAFC;
            border-radius: 15px 30px;
            padding: 50px;
            @media screen and (max-width: 570px) {
                padding: 8px;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .category-icon{
                background-color: #F1FDFA;
                border: 1px solid #E5EEED;
                padding: 15px;
                border-radius: 50%;
                .category-img-icon{
                    width: 61.4px;
                    height: 61.4px;

                    @media screen and (max-width: 570px) {
                        width: 30px;
                        height: 30px;
                    }
                    
                }
            }

            .category-label{
                margin-top: 18px;
                @media screen and (max-width: 570px) {
                    margin-top: 8px;
                }
            }
        
        }
    }


     #new-products{
        

        .product-item{
            position: relative;
            background: #F9FAFC;
            border: 1px solid #E7EAEF;
            box-sizing: border-box;
            .diskon-label{
                position: absolute;
                top: 0;
                left: 0;
                padding: 5px;
                font-size: 8px;
                font-weight: bold;
            }

            .cart-icon{
                position: absolute;
                top: 0;
                right: 0;
                margin: 8px;
                img{
                    width: 24px;
                    height: 24px;
                }
            }


            .product-img{
                width: 100%;
                height: 152px;
                background: #F1FDFA;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 60%;
                }
            }

            .product-detail{
                h3{
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 1.5;
                }

                .diskon-price{
                    font-family: 'DM Sans', sans-serif;
                    font-size: 15px;
                    font-weight: bold;
                }

                .real-price{
                    font-family: 'DM Sans', sans-serif;
                    font-size: 10px;
                    font-weight: bold;
                    color: #C2C1BF;
                    text-decoration: line-through;
                }


                
                .favorite-icon{
                    cursor: pointer;
                    img{
                        width: 24px;
                        height: 24px;
                    }
                }

                .product-ratings{
                    .star{
                        width: 15px;
                        height: 15px;
                        margin-right: 3px;
                    }
                }
            }
        }
    
    }

    #special-offers{
         
        div.left{
            border-radius: 15px;
            background-color: #d6680f;
            @media (max-width: 567px) {
                margin-bottom: 10px;
                .offer-title, .offer-desc{
                    font-size: 18px;
                }
            }
            overflow: hidden;


            .offer-img img{
                width: 100%;
            }

        }


        div.right{
            @media (max-width: 567px) {
                padding: 0;
            }
        }
        div.right img{
            width: 100%;
            border-radius: 15px;

        }

    
    }

    
}
